.container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button {
    width: 295px;
    height: 44px;
    background-color: #51a6f0;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    margin: 20px auto 0;
}

.button_active {
    width: 295px;
    height: 44px;
    background-color: #8bc7fb;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    margin: 20px auto 0;
}

.verify_button {
    width: 295px;
    height: 44px;
    background-color: #8bc7fb;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 45px;
}
